
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Calculatrice</title>
</head>
<body>
<h1 class="title">TP Conversion des devises</h1>
<form  class="form">
  <div class="depart">
    <div class="form-group">
      <input type="number" class="in" name="somme" require [(ngModel)]=somme  placeholder="Entrez une valeur"/>
    </div>
    <div class="form-group">
      <select name="deviseDepart" class="in" [(ngModel)]=deviseD>
         <option value="FCFA">Franc CFA</option>
         <option value="USD">Dollar americain</option>
         <option value="EUR">Euro</option>
      </select>
    </div>
  </div>
  <div class="depart">
    <div class="form-group">
      <input type="number" class="in" name="somme" require value="{{somme|currency:deviseD:deviseA}}" />
    </div>
    <div class="form-group">
      <select name="deviseArrive" class="in" [(ngModel)]=deviseA>
         <option value="FCFA">Franc CFA</option>
         <option value="USD">Dollar americain</option>
         <option value="EUR">Euro</option>
      </select>
    </div>
  </div>
</form>
</body>
</html>

<router-outlet></router-outlet>